**/node_modules
lib
dist
.eslintcache
.idea
!.vscode
.vscode/*
!.vscode/settings
coverage
.env
.env.*
*.log
*.cmd
publish.config.json
publish*.zip
publish-artifacts/
.jscsrc
.jshintrc
.jshintignore
local.env
.DS_Store
